var notNum = function(num) {
  return (num === undefined || num === null || "Number" !== num.constructor);
}

var unit = function(num) {
  if (notNum(num)) {
    return '-'
  } else if (Math.abs(num) >= 100000000) {
    num = num / 100000000;
    return trunc(num) + '亿';
  } else if (Math.abs(num) >= 10000) {
    num = num / 10000;
    return trunc(num) + '万';
  } else {
    return trunc(num) + '';
  }
}

var percent = function(num) {
  if (notNum(num)) {
    return '-'
  } else {
    num = num * 100;
    return trunc(num) + '%';
  }
}

var trunc = function (num) {
  if (notNum(num)) {
    return '-'
  } else {
    return num.toFixed(Math.abs(num) >= 100 ? 0 : 2);
  }
}

var format = function (num, pattern) {
  // console.log(num + ' , ' + pattern + ' , ' + num.constructor);
  if (pattern === 'unit') {
    return unit(num);
  } else if (pattern === 'percent') {
    return percent(num);
  } else {
    return trunc(num);
  }
}

var parseDateStr = function(fmt) {
  if (fmt == undefined) {
    return getDate();
  }
  fmt1 = fmt.substring(0, 19);
  var reg = getRegExp("-", "g");
  fmt2 = fmt1.replace(reg, '/');
  var timestamp = getDate(fmt2).getTime();

  return getDate(parseInt(timestamp));
}

var shortenDate = function(str) {
  var d = parseDateStr(str)
  var now = getDate()
  if (d.getDate() == now.getDate()) {
    return dateFormat("HH:MM", d);
  } else if (d.getFullYear() == now.getFullYear()) {
    return dateFormat("mm-DD", d);
  } else {
    return dateFormat("YYYY-mm-DD", d);
  }
}

var dateFormat = function(fmt, date) {
  var ret;
  var opt = [
    ["Y+", date.getFullYear().toString()],        // 年
    ["m+", (date.getMonth() + 1).toString()],     // 月
    ["D+", date.getDate().toString()],            // 日
    ["H+", date.getHours().toString()],           // 时
    ["M+", date.getMinutes().toString()],         // 分
    ["S+", date.getSeconds().toString()]          // 秒
    // 有其他格式化字符需求可以继续添加，必须转化成字符串
  ];
  for (var i = 0 ; i < opt.length ; i++) {
    var k = opt[i][0];
    var v = opt[i][1]
    ret = getRegExp("(" + k + ")").exec(fmt);
    if (ret) {
      fmt = fmt.replace(ret[1], v)
    };
  };
  return fmt;
}

var period = function(str) {
  if (!str || str.length < 6) {
    return '';
  }
  var year = str.slice(0, 4);
  var md = str.slice(4, 6);
  var quarter = 'Q1';
  if (md == '03') {
    quarter = 'Q1';
  } else if (md == '06') {
    quarter = 'Q2';
  } else if (md == '09') {
    quarter = 'Q3';
  } else if (md == '12') {
    quarter = 'Q4';
  }
  return year + quarter;
}

var insertTabAfterNewLine = function(str) {
  if (str == undefined) {
    return '';
  }
  var regx = getRegExp('\n', 'g')
  var result = str.replace(regx, '\n&emsp;&emsp;');
  return '&emsp;&emsp;' + result;
}

var dtFormat = function(str) {
  if (str == undefined) {
    return '';
  }
  var year = str.substring(0, 4);
  var month = str.substring(4, 6);
  var day = str.substring(6, 8);
  var now = getDate()
  if (now.getFullYear().toString() === year) {
    return month + '-' + day;
  } else {
    return year.substring(2, 4) + '-' + month + '-' + day;
  }
}

module.exports = {
  percent: percent,
  trunc: trunc,
  unit: unit,
  format: format,
  shortenDate: shortenDate,
  period: period,
  insertTabAfterNewLine: insertTabAfterNewLine,
  dtFormat: dtFormat
};